* {

    padding: 0px;
    margin: 0px;
    /*alapértelmezett, conten box*/
    box-sizing: border-box;
    /*tartalom+padding+margin+border=x szélessége px)*/
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;


}

body {
    max-width: 800px;
    margin: auto;
}

.grid {
    background-color: antiquewhite;
    padding: 1rem;
    


}

.section-1 {
    background-color:rgb(94, 94, 162);
   grid-area: s;
    
}

.section-2 {
    background-color:rgb(170, 170, 170);
    grid-area: d;
   

}

.card{

    padding: 16px;
    max-width: 800px;
    border-radius: 12px;
    font-size:22px;
    font-weight:600px;
    border: 1px solid gainsboro;


}

.menu {
    background-color:rgb(126, 157, 85);
    grid-area: m;

 
    
}


footer{
    background-color:rgb(224, 87, 208);
    padding: 1rem;
    grid-area: f;
    

}

.grid{
    min-height: 100vh;
    display: grid;
    gap: 16px;
    border-radius: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "m m m m"
    "s s d d"
    "s s d d"
    "f f f f";
}